{% extends "layout.twig" %}

{% block page %}

  {% include 'partials/pagehero.twig' %}

  <div class="container">

    <section class="section">
      {% include 'partials/mission-selector.twig' with {
        overlap: true
      } %}
    </section>

    <section class="section">
      <div class="row row--dividers">
        <div class="col-md-6 col-lg-3">
          <h3><a href="#">Practical Innovation</a></h3>
          <p>The world needs people who can understand our greatest challenges, from poverty to climate change, and the connections between them.</p>
        </div>
        <div class="col-md-6 col-lg-3">
          <h3><a href="">Cultural Fluency</a></h3>
          <p>Learning in language and intercultural studies are integral to an Institute education. These skills are central to achieving effective change around the world.</p>
        </div>
        <div class="col-md-6 col-lg-3">
          {% include 'partials/callout.twig' with {
            preheader: 'Register for',
            title: 'Monterey Forum',
            subtext: 'March 28-29, 2017',
            buttonText: 'Register',
            buttonHref: '#',
          } %}
        </div>
        <div class="col-md-6 col-lg-3">
          {% include 'partials/callout.twig' with {
            preheader: 'Application for',
            title: 'Spring 2017 Now Open',
            buttonText: 'Apply Now',
            buttonHref: '#',
          } %}
        </div>
      </div>
    </section>

    <section class="section">
      <div class="row row--dividers">
        <div class="col-md-6">
          {% embed 'partials/section.twig' with {
            title: 'Latest News',
            moreLinkHref: '#',
            moreLinkText: 'More News'
          } %}
            {% block content %}
              {% for item in homepage.latest_news %}
                <article class="story-teaser">
                  <h3 class="story-teaser__title">
                    <a href="{{item.href}}" class="story-teaser__link">{{item.title}}</a>
                  </h3>
                  <p class="story-teaser__summary">{{item.summary}}</p>
                </article>
              {% endfor %}
            {% endblock %}
          {% endembed %}
        </div>
        <div class="col-md-6">
          {% embed 'partials/section.twig' with {
            title: 'Upcoming Events',
            moreLinkHref: '#',
            moreLinkText: 'More Events'
          } %}
            {% block content %}
              {% for item in homepage.upcoming_events %}
                <article class="story-teaser">
                  <h3 class="story-teaser__title">
                    <a href="{{item.href}}" class="story-teaser__link">{{item.title}}</a>
                  </h3>
                  <p class="story-teaser__location">{{item.location}}</p>
                </article>
              {% endfor %}
            {% endblock %}
          {% endembed %}
        </div>
      </div>
    </section>

  </div>

  <section class="section">
    {% include 'partials/program-spotlight.twig' %}
  </section>

  <div class="container">

    {% embed 'partials/section.twig' with {
      title: 'Projects around the world',
      moreLinkHref: '#',
      moreLinkText: 'All Projects'
    } %}
      {% block content %}

        <div class="row row--dividers">
          {% for project in homepage.projects %}
            <div class="{% if project.featured %}col-md-6{% else %}col-md-3{% endif %}">
              <img src="{{project.image}}" alt="{{project.image_alt}}">
              <h3><a href="{{project.link}}">{{project.title}}</a></h3>
              <p>{{project.blurb}}</p>
            </div>
          {% endfor %}
        </div>

      {% endblock %}
    {% endembed %}

    {% embed 'partials/section.twig' with {
      title: 'Leaders in the Field'
    } %}
      {% block content %}

        <div class="row row--dividers">
          {% for item in homepage.leaders_in_the_field %}
            <div class="{% if item.featured %}col-md-6{% else %}col-md-3{% endif %}">
              <img src="{{item.image}}" alt="{{item.image_alt}}">
              <h3><a href="{{item.link}}">{{item.title}}</a></h3>
              <p>{{item.blurb}}</p>
            </div>
          {% endfor %}
        </div>

      {% endblock %}
    {% endembed %}

    <section class="section section--projects">
      <header class="section__header">
        <h2 class="section__title">Global Projects and Partnerships</h2>
      </header>
      <div class="projects">
        {% for item in global_projects %}
          <article class="projects__item">
            <h3 class="projects__title">
              <a href="#" class="projects__link">{{item.title}}</a>
            </h3>
            <p class="projects__blurb">{{item.blurb}}</p>
          </article>
        {% endfor %}
      </div>
      <a href="#" class="button button--secondary">Explore Opportunities with our International Partners</a>
    </section>


  </div>

{% endblock %}
