{% extends "layout.twig" %}

{% block page %}

  {% include 'partials/pagehero.twig' %}

  <div class="container">

    <section class="section">
      {% include 'partials/mission-selector.twig' with {
        overlap: true
      } %}
    </section>

    <section class="section">
      <div class="row row--dividers">
        <div class="col-md-6 col-lg-3">
          <h3><a href="#">Practical Innovation</a></h3>
          <p>The world needs people who can understand our greatest challenges, from poverty to climate change, and the connections between them.</p>
        </div>
        <div class="col-md-6 col-lg-3">
          <h3><a href="">Cultural Fluency</a></h3>
          <p>Learning in language and intercultural studies are integral to an Institute education. These skills are central to achieving effective change around the world.</p>
        </div>
        <div class="col-md-6 col-lg-3">
          {% include 'partials/callout.twig' with {
            preheader: 'Register for',
            title: 'Monterey Forum',
            subtext: 'March 28-29, 2017',
            buttonText: 'Register',
            buttonHref: '#',
          } %}
        </div>
        <div class="col-md-6 col-lg-3">
          {% include 'partials/callout.twig' with {
            preheader: 'Application for',
            title: 'Spring 2017 Now Open',
            buttonText: 'Apply Now',
            buttonHref: '#',
          } %}
        </div>
      </div>
    </section>

    <section class="section">
      <div class="row row--lined">
        <div class="col-md-6">
          {% embed 'partials/section.twig' with {
            title: 'Latest News',
            moreLinkHref: '#',
            moreLinkText: 'More News'
          } %}
            {% block content %}
              {% for item in homepage.latest_news %}
                <article class="story-teaser">
                  <h3 class="story-teaser__title">
                    <a href="{{item.href}}" class="story-teaser__link">{{item.title}}</a>
                  </h3>
                  <p class="story-teaser__summary">{{item.summary}}</p>
                </article>
              {% endfor %}
            {% endblock %}
          {% endembed %}
        </div>
        <div class="col-md-6">
          {% embed 'partials/section.twig' with {
            title: 'Upcoming Events',
            moreLinkHref: '#',
            moreLinkText: 'More Events'
          } %}
            {% block content %}
              {% for item in homepage.upcoming_events %}
                <article class="story-teaser">
                  <h3 class="story-teaser__title">
                    <a href="{{item.href}}" class="story-teaser__link">{{item.title}}</a>
                  </h3>
                  <p class="story-teaser__location">{{item.location}}</p>
                </article>
              {% endfor %}
            {% endblock %}
          {% endembed %}
        </div>
      </div>
    </section>

    {% embed 'partials/section.twig' with {
      title: 'Projects around the world',
      moreLinkHref: '#',
      moreLinkText: 'All Projects'
    } %}
      {% block content %}

        <div class="row row--dividers">
          {% for project in homepage.projects %}

            {% if loop.index == 1 %}
              <div class="col-md-6">
                <img src="{{project.image}}" alt="{{project.image_alt}}">
                <h3><a href="{{project.link}}">{{project.title}}</a></h3>
                <p>{{project.summary}}</p>
              </div>
            {% else %}
              <div class="col-md-3">
                <img src="{{project.image}}" alt="{{project.image_alt}}">
                <h3><a href="{{project.link}}">{{project.title}}</a></h3>
                <p>{{project.summary}}</p>
              </div>
            {% endif %}

          {% endfor %}
        </div>

      {% endblock %}
    {% endembed %}


  </div>

{% endblock %}
