{% extends "layout.twig" %}

{% block page %}
  <section class="page" aria-labelledby="midd-page-header-label">

    {% include 'partials/page-header.twig' with {
      breadcrumb: [
        { text: 'Events' }
      ],
      title: 'Museum of Art Lecture Series'
    } %}

    <article class="event-detail" aria-labelledby="midd-event-label">
      <div class="container">
        <div class="row">

          <div class="col-md-push-1 col-md-7">
            <header class="event-detail__header" aria-labelledby="midd-event-label">
              <div class="event-detail__meta">
                <p class="event-detail__datetime">
                  <time datetime="">August 18, 2017 &middot; 4:00 PM&ndash;<br>August 19, 2017 &middot; 8:00 PM</time>
                </p>
                <p class="event-detail__admission">TESOL Members $175; Non-members $225</p>
                <p class="event-detail__access">Open to the Public</p>
              </div>

              <div class="event-detail__share">
                <div class="share">
                  <span class="share__label">Share:</span>
                  <ul class="share__list">
                    <li class="share__item">
                      <a href="https://www.facebook.com/sharer.php?u={{pageUrl}}" target="_blank" title="Share on Facebook" class="share__link">
                        <span aria-hidden="true">{{icons.facebook}}</span>
                      </a>
                    </li>
                    <li class="share__item">
                      <a href="http://twitter.com/share?text={{title}}&url={{pageUrl}}" target="_blank" title="Share on Twitter" class="share__link">
                        <span aria-hidden="true">{{icons.twitter}}</span>
                      </a>
                    </li>
                    <li class="share__item">
                      <a href="mailto:?subject={{title}}&body={{pageUrl}}" title="Share via email" class="share__link">
                        <span aria-hidden="true">{{icons.email}}</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </header>

            <div class="event-detail__media">
              <figure>
                <picture>
                  <img src="//placehold.it/800x500" alt="">
                </picture>
                <figcaption>
                  This is a caption for this image.
                  <span class="media__credit">Credit</span>
                </figcaption>
              </figure>
            </div>

            <div class="event-detail__body typography">
              <p>The Old Monterey Foundation, a California non-profit, public benefit corporation, was formed on February 14, 2011, with the specific mission and purpose of promoting, supporting and enhancing the artistic, cultural and historic environment of historic Downtown Monterey, California.</p>

              <p>Since 2013, Old Monterey Foundation has continued its promotion of local history and art with the 2014 Jules Tavernier Lecture Series and the 2015 Marcia Devoe Lecture Series, and the Art in the Gardens Plein Aire event.</p>
            </div>

            <div class="event-detail__contact">
              <div class="row">
                <div class="col-sm-6">

                <h3>Where</h3>

                <address>McCone Irvine Auditorium<br>
                460 Pierce St<br>
                Monterey, CA 93940</address>

                <ul class="list u-mb-6">
                  <li class="list__item">
                    <span class="list__icon" aria-hidden="true">{{icons.map}}</span>
                    <a href="#" class="u-link-border">View in Campus Map</a>
                  </li>
                  <li class="list__item">
                    <span class="list__icon" aria-hidden="true">{{icons.calendar}}</span>
                    <a href="#" class="u-link-border">Add to my calendar</a>
                  </li>
                </ul>

                <h3>Contact Organizer</h3>

                <p>Priscilla Lorenzo<br>
                  <a href="#" class="u-link-border">plorenzo@middlebury.edu</a><br>
                  <a href="tel:" class="u-link-border">802-555-0000</a>
                </p>

                </div>
                <div class="col-sm-6">
                  <picture>
                    <img src="http://placehold.it/300x300" srcset="http://placehold.it/300x300 1x, http://placehold.it/600x600 2x" alt="">
                  </picture>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-push-1 col-md-3">
            {% embed 'partials/section.twig' with {
              title: 'Speakers',
              class: 'section--aside'
            } %}
              {% block content %}
                <div class="row">
                  <div class="col-sm-6 col-md-12">
                    {% include 'partials/speaker.twig' %}
                  </div>
                  <div class="col-sm-6 col-md-12">
                    {% include 'partials/speaker.twig' %}
                  </div>
                </div>
              {% endblock %}
            {% endembed %}
          </div>
        </div>
      </div>
    </article>

  </section>
{% endblock %}
