<div class="action-callout">
  {% if preheader %}
    <span class="action-callout__preheader">{{preheader}}</span>
  {% endif %}
  <h3 class="action-callout__title">{{title}}</h3>
  {% if linkHref and linkText %}
    <a href="{{linkHref}}" class="button button--{{buttonModifier | default('primary')}} action-callout__button">{{linkText}}</a>
  {% endif %}
</div>
