<div class="callout{% if className %} {{className}}{% endif %}{% if light %} callout--light{% endif %}">
  <div class="callout__header">
    {% if preheader %}
      <em class="callout__preheader">{{preheader}}</em>
    {% endif %}
  <h3 class="callout__title">{{title}}</h3>
  </div>
  <div class="callout__body">
    {% if subtext %}
      <p class="callout__subtext">{{subtext}}</p>
    {% endif %}
    {% block body %}{% endblock %}
  </div>
  <div class="callout__footer">
    {% if buttonHref and buttonText %}
      <a href="{{buttonHref}}" class="button button--{{buttonModifier | default('primary')}} callout__button">{{buttonText}}</a>
    {% endif %}
    {% block footer %}{% endblock %}
  </div>
</div>
