<nav class="callout-links" aria-labelledby="midd-quick-links-{{id}}">
  <h2 class="callout-links__title" id="midd-quick-links-{{id}}">{{title}}</h2>

  <ul class="callout-links__list">
    {% for item in items %}
      <li class="callout-links__item">
        <a href="{{item.url}}" class="callout-links__link link-border">{{item.text}}</a>
      </li>
    {% endfor %}
  </ul>
</nav>
