<article class="card{% if image %} card--has-image{% endif %}">
  {% if image %}
    <div class="card__media">
      <a href={{href}}>
        <picture>
          <source srcset="//placehold.it/640x360" media="(min-width: 960px)">
          <source srcset="//placehold.it/320x180" media="(min-width: 580px)">
          {# <source srcset="//placehold.it/320x180"> #}
          <source srcset="//placehold.it/160x90">
          <img src="//placehold.it/640x360" alt="">
        </picture>
      </a>
    </div>
  <div class="card__body">
  {% endif %}

    <h3 class="card__title">
      <a href="{{href}}" class="card__link">{{title}}</a>
    </h3>

    {% if tags %}
      <ul class="tags__list mb-1">
        {% for i in 0..3 %}
          <li class="tags__item">
            <a href="#" class="tags__link">Lorem Ipsum</a>
          </li>
        {% endfor %}
      </ul>
    {% endif %}

    {% if author and not tags %}
      <p class="card__author">by <a href="#" class="link-border">{{author}}</a></p>
    {% endif %}

    {% if text %}
      <p class="card__text">{{text}}</p>
    {% endif %}

    {% if date and time %}
      <p class="card__meta">{{date}} &middot; {{time}}</p>
    {% endif %}

    {% if local %}
      <p class="card__meta">{{local}}</p>
    {% endif %}

  {% if image %}
    </div>
  {% endif %}
</article>
