<article class="event-card" aria-labelledby="midd-event-{{ id }}-header">
  <div class="event-card__media">
    <a href="{{href}}">
      <figure>
        {% include 'partials/img.twig' with { name: 'card' } %}
      </figure>
    </a>
  </div>
  <h3 class="event-card__title" id="midd-event-{{ id }}-header">
    <a href="#">{{title}}</a>
  </h3>
  <p class="event-card__datetime"><time>{{date}} &middot; {{time}}</time></p>
  <p class="event-card__local">{{local}}</p>
</article>
