<article class="event-teaser" aria-labelledby="midd-event-label-{{i}}">
  <figure class="event-teaser__media">
    <a href="{{url}}">
      <picture>
        <source srcset="http://placehold.it/160x120" media="(min-width: 580px)">
        <source srcset="http://placehold.it/100x75">
        <img src="http://placehold.it/160x120" srcset="" alt="">
      </picture>
    </a>
  </figure>
  <div class="event-teaser__body">
    <p class="event-teaser__meta"><strong><time datetime="">September 25, 2016</time></strong> &middot; <strong><time datetime="">5:00 PM</time></strong></p>
    <p class="event-teaser__meta"><span>{{local}}</span></p>
    <h3 class="event-teaser__title" id="midd-event-label-{{i}}"><a href="{{url}}">{{title}}</a></h3>
    <div class="event-teaser__blurb">{{blurb}}</div>
    <ul class="event-teaser__metalist">
      {% for item in metalist %}
        <li class="event-teaser__metaitem"><em>{{item.text}}</em></li>
      {% endfor %}
    </ul>
  </div>
</article>
