<nav class="site-nav site-nav--top" data-nav>
  <ul class="site-nav__list" data-nav-list>
    {% for item in site_nav %}
      <li class="site-nav__item">
        <a href="{{item.href}}" class="site-nav__link{% if loop.index >= 6 %} site-nav__link--accent{% endif %}" data-nav-link>{{item.text}}</a>

        {% if item.items %}
          <div class="site-nav site-nav--sub" data-nav>
            <a href="#" class="site-nav__link site-nav__link--back" data-nav-back>{{item.text}}</a>
            <ul class="site-nav__list" data-nav-list>
              {% for subitem in item.items %}
                <li class="site-nav__item">
                  <a href="{{subitem.href}}" class="site-nav__link" data-nav-link>{{subitem.text}}</a>
                  {% if subitem.items %}
                    <div class="site-nav site-nav--sub" data-nav>
                      <a href="#" class="site-nav__link site-nav__link--back" data-nav-back>{{subitem.text}}</a>
                      <ul class="site-nav__list">
                        {% for subitem in subitem.items %}
                        <li class="site-nav__item">
                          <a href="{{subitem.href}}" class="site-nav__link" data-nav-link>{{subitem.text}}</a>
                        </li>
                        {% endfor %}
                      </ul>
                    </div>
                  {% endif %}
                </li>
              {% endfor %}
            </ul>

            {% if item.button %}
              <a href="{{item.button.href}}" class="button button--secondary site-nav__button">{{item.button.text}}</a>
            {% endif %}
          </div>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</nav>
