<nav class="site-nav">
  <ul class="site-nav__list">
    {% for item in site_nav %}
      <li class="site-nav__item">
        <a href="#" class="site-nav__link">{{item.text}}</a>

        <nav class="site-subnav">

          <ul class="site-subnav__list">
            {% for subitem in item.items %}
              <li class="site-subnav__item">
                <a href="{{subitem.href}}" class="site-subnav__link">{{subitem.text}}</a>
              </li>
            {% endfor %}
          </ul>

          {% if item.button %}
            <a href="{{item.button.href}}" class="button button--secondary site-subnav__button">{{item.button.text}}</a>
          {% endif %}

        </nav>
      </li>
    {% endfor %}
  </ul>
</nav>
