{#TODO: change panel to use grid for panel__body and panel__footer#}
<section class="panel{% if modifier %} panel--{{modifier}}{% endif %}" aria-labelledby="midd-program-panel-label-{{label|slugify}}">
  <div class="panel__media">
    {# {% include 'partials/img.twig' with { name: 'panel' } %} #}
    <img
      srcset="http://placehold.it/400x225 400w,
              http://placehold.it/640x360 640w,
              http://placehold.it/960x540 960w,
              http://placehold.it/1440x810 1440w"
      sizes="100vw"
    />
  </div>
  <div class="panel__content">
    <div class="panel__row">
      <div class="panel__primary">
        <h1 class="panel__label" id="midd-program-panel-label-{{label|slugify}}">{{label}}</h1>
        <h2 class="panel__title">
          <a href="{{link_url}}" class="panel__link">{{title}} &rsaquo;</a>
        </h2>
        <p class="panel__text">{{text}}</p>
        <a href="{{link_url}}" class="panel__button button button--secondary">{{link_text}}</a>
      </div>
      {% if list %}
        <div class="panel__secondary">
          <ul class="panel__list">
            {% for item in list %}
              <li class="panel__list-item">
                <a href="{{item.url}}" class="panel__list-link">{{item.text}}</a>
              </li>
            {% endfor %}
          </ul>
          <a href="{{list_more_link_url}}" class="panel__more-link">{{list_more_link_text}}</a>
        </div>
      {% endif %}
    </div>
  </div>
</section>
