{#TODO: change panel to use grid for panel__body and panel__footer#}
<section class="panel{% if modifier %} panel--{{modifier}}{% endif %}" aria-labelledby="midd-program-panel-label-{{label|slugify}}">
  <div class="panel__media">
    {% include 'partials/img.twig' with { name: 'panel' } %}
  </div>
  <div class="panel__content">
    <h2 class="panel__label" id="midd-program-panel-label-{{label|slugify}}">{{label}}</h2>
    <div class="panel__row">
      <div class="panel__primary">
        <h3 class="panel__title">
          <a href="{{link_url}}" class="panel__link">{{title}}</a>
        </h3>
        <p class="panel__text">{{text}}</p>
        <a href="{{link_url}}" class="panel__button button button--secondary button--outline">{{link_text}}</a>
      </div>
      {% if list %}
        <div class="panel__secondary">
          <ul class="panel__list">
            {% for item in list %}
              <li class="panel__list-item">
                <a href="{{item.url}}" class="panel__list-link">{{item.text}}</a>
              </li>
            {% endfor %}
          </ul>
          <a href="{{list_more_link_url}}" class="link-border text-white">{{list_more_link_text}}</a>
        </div>
      {% endif %}
    </div>
  </div>
</section>
