<article class="program-spotlight-item js-spotlight-item-{{id}}">

  <figure class="program-spotlight-item__image">
    {% include 'partials/img.twig' with { name: 'program_spotlight' } %}
  </figure>

  <div class="program-spotlight-item__content">
    <div class="program-spotlight-item__side program-spotlight-item__side--front">

        <a href="#midd-program-spotlight-item-aside-{{id}}"
          class="program-spotlight-item__toggle button button--sm button--tertiary"
          aria-label="Open Q&A with {{title}}"
          data-toggle-target=".js-spotlight-item-{{id}}"
          data-toggle-group="midd-program-spotlight-items"
          data-toggle-linked="spotlight-item-{{id}}">
          <svg class="icon" aria-hidden="true">
            <use xlink:href="#icon-plus" />
          </svg>
        </a>

      <div class="program-spotlight-item__header">
        <h3 class="program-spotlight-item__title">{{title}}</h3>
        <p class="program-spotlight-item__text">{{type}}</p>
      </div>
      <div class="program-spotlight-item__body">

      </div>
      <div class="program-spotlight-item__footer">
        <a href="#" class="program-spotlight-item__label button button--secondary">
          {{program}}
        </a>
      </div>

    </div>
    <aside class="program-spotlight-item__side program-spotlight-item__side--back" id="midd-program-spotlight-item-aside-{{id}}">

      <button
        class="program-spotlight-item__toggle button button--sm button--secondary"
        aria-label="Close"
        data-toggle-target=".js-spotlight-item-{{id}}"
        data-toggle-group="midd-program-spotlight-items"
        data-toggle-linked="spotlight-item-{{id}}">
        <svg class="icon" aria-hidden="true">
          <use xlink:href="#icon-close" />
        </svg>
      </button>

      <div class="program-spotlight-item__header">
        <h3 class="program-spotlight-item__title">{{title}}</h3>
        <p class="program-spotlight-item__text">{{type}}</p>
      </div>
      <div class="program-spotlight-item__body">
        <div class="typography">
          <h4>What made the Institute special?</h4>
          <p>I traveled to Tokyo as part of a seminar on foreign policy, trade, and security. Most of the others were policy and management students, and I was there to provide simultaneous interpretation for the speakers who addressed the class. It was an amazing real-world opportunity to practice my profession.</p>

          <h4>What now?</h4>
          <p>I’m an interpreter and translator for Faraday Future, an innovative company making high-performance electric vehicles and concept cars.</p>
        </div>
      </div>
      <div class="program-spotlight-item__footer">
        <a href="#" class="link-border">Learn more about {{program}}</a>
      </div>

    </aside>
  </div>
</article>
