<article class="program-spotlight-item js-spotlight-item-{{id}}">

  <figure class="program-spotlight-item__image">
    <img src="/images/degrees-{{program.image}}.jpg" alt="{{program.image_alt}}">
  </figure>

  <div class="program-spotlight-item__content">
    <div class="program-spotlight-item__side program-spotlight-item__side--front">

      <div class="program-spotlight-item__body">
        <h3 class="program-spotlight-item__title">
          <a href="{{program.href}}" class="program-spotlight-item__link">{{program.title}}</a>
        </h3>
        <p class="program-spotlight-item__text">{{program.blurb}}</p>
      </div>
      <div class="program-spotlight-item__footer">
        <a href="#"
          class="button button--secondary button--circle"
          data-toggle-target=".js-spotlight-item-{{id}}"
          data-toggle-linked="spotlight-item-{{id}}"
          data-toggle-group="spotlight-items">
          <svg class="icon" aria-hidden="true">
            <use xlink:href="#icon-plus" />
          </svg>
        </a>
      </div>

    </div>
    <aside class="program-spotlight-item__side program-spotlight-item__side--back">

      <div class="program-spotlight-item__controls">
        <button
          class="button button--secondary button--circle"
          role="button"
          aria-label="Close"
          data-toggle-target=".js-spotlight-item-{{id}}"
          data-toggle-linked="spotlight-item-{{id}}">
          <svg class="icon" aria-hidden="true">
            <use xlink:href="#icon-x" />
          </svg>
        </button>
      </div>

      <div class="program-spotlight-item__body">
        <p class="program-spotlight-item__text">{{program.card.body}}</p>
      </div>
      <div class="program-spotlight-item__footer">
        <a href="{{program.card.link_href}}" class="button button--secondary button--pill button--block">{{program.card.link_text}}</a>
      </div>

    </aside>
  </div>
</article>
