<article class="program-spotlight-item js-spotlight-item-{{id}}">

  <figure class="program-spotlight-item__image">
    <img src="/images/{{image}}" alt="{{title}}">
  </figure>

  <div class="program-spotlight-item__content">
    <div class="program-spotlight-item__side program-spotlight-item__side--front">

        <a href="#midd-program-spotlight-item-aside-{{id}}"
          class="program-spotlight-item__toggle button button--sm button--tertiary"
          aria-label="Open Q&A"
          data-toggle-target=".js-spotlight-item-{{id}}"
          data-toggle-group="midd-program-spotlight-items"
          data-toggle-linked="spotlight-item-{{id}}">
          <svg class="icon" aria-hidden="true">
            <use xlink:href="#icon-plus" />
          </svg>
        </a>

      <div class="program-spotlight-item__header">
        <h3 class="program-spotlight-item__title">{{title}}</h3>
        <p class="program-spotlight-item__text">{{type}}</p>
      </div>
      <div class="program-spotlight-item__body">

      </div>
      <div class="program-spotlight-item__footer">
        <a href="#" class="program-spotlight-item__label button button--secondary">
          {{program}}
        </a>
      </div>

    </div>
    <aside class="program-spotlight-item__side program-spotlight-item__side--back" id="midd-program-spotlight-item-aside-{{id}}">

      <button
        class="program-spotlight-item__toggle button button--sm button--secondary"
        aria-label="Close"
        data-toggle-target=".js-spotlight-item-{{id}}"
        data-toggle-group="midd-program-spotlight-items"
        data-toggle-linked="spotlight-item-{{id}}">
        <svg class="icon" aria-hidden="true">
          <use xlink:href="#icon-x" />
        </svg>
      </button>

      <div class="program-spotlight-item__header">
        <h3 class="program-spotlight-item__title">{{title}}</h3>
        <p class="program-spotlight-item__text">{{type}}</p>
      </div>
      <div class="program-spotlight-item__body">
        <div class="typography">
          <h4>Lorem ipsum dolor set?</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          <h4>Lorem ipsum dolor set?</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>
      </div>
      <div class="program-spotlight-item__footer">
        <a href="#" class="link-border">Learn more about {{program}}</a>
      </div>

    </aside>
  </div>
</article>
