<section class="section{% if class %} {{class}}{% endif %}{% if aside %} section--aside{% endif %}"{% if labelledby %} aria-labelledby="{{labelledby}}"{% endif %}{% if role %} role="{{role}}"{% endif %}>
  <header class="section__header">
    <h2 class="section__title"{% if labelledby %} id="{{labelledby}}"{% endif %}>{{title}}</h2>
    {% if moreLinkHref and moreLinkText %}
    <div class="section__link">
      <a href="{{moreLinkHref}}" class="link-border">{{moreLinkText}}</a>
    </div>
    {% endif %}
  </header>
  {% block content %}{% endblock %}
</section>
